<div
  class="color-background-white"
  style="width: 450px; padding: 10px 5px; border: 1px solid #c8202f"
>
  <div class="center">{{{message}}}</div>
  <div
    id="diceList"
    style="
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: repeat(6, 1fr);
      gap: 0 10px;
      margin-top: 10px;
      font-size: 1.5em;
      justify-items: center;
      align-items: center;
    "
  >
    <input id="selectedFace" name="selectedFace" type="hidden" value="{{selectedFace}}" />
    <div
      data-id="1"
      style="
        cursor: pointer;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-top: 8px;
        border-radius: 5px;
        border: 2px solid #c8202f;
      "
    >
      1
    </div>
    <div
      data-id="2"
      style="
        cursor: pointer;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-top: 8px;
        border-radius: 5px;
        border: 2px solid #c8202f;
      "
    >
      2
    </div>
    <div
      data-id="3"
      style="
        cursor: pointer;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-top: 8px;
        border-radius: 5px;
        border: 2px solid #c8202f;
      "
    >
      3
    </div>
    <div
      data-id="4"
      style="
        cursor: pointer;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-top: 8px;
        border-radius: 5px;
        border: 2px solid #c8202f;
      "
    >
      4
    </div>
    <div
      data-id="5"
      style="
        cursor: pointer;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-top: 8px;
        border-radius: 5px;
        border: 2px solid #c8202f;
      "
    >
      5
    </div>
    <div
      data-id="6"
      style="
        cursor: pointer;
        height: 45px;
        width: 45px;
        text-align: center;
        padding-top: 8px;
        border-radius: 5px;
        border: 2px solid #c8202f;
      "
    >
      6
    </div>
  </div>
</div>