<form class="{{cssClass}} reality pad" autocomplete="off">
  <div class="fullCard pad">
    <header style="font-size: 2em">
      <input name="name" type="text" value="{{item.name}}" placeholder="Benefit name" />
    </header>

    <textarea name="system.description" class="pad">{{system.description}}</textarea>
  </div>
</form>