<div style="margin-top: 2px">
  <div
    style="
      margin-top: 2px;
      padding: 0 5px;
      display: flex;
      justify-content: center;
      text-align: center;
    "
  >
    {{#each conflictResult}}
    <img
      class="icon"
      src="systems/triangleagency/assets/icons/d4-{{this}}.png"
      style="width: 35px"
    />
    {{/each}}
  </div>
</div>