<div style="margin-top: 2px">
  <div style="margin: 2px auto auto 0; padding: 0 5px; width: 100%; text-align: center">
    {{#each conflictResult}}
      <img class="icon" src="systems/triangleagency/assets/icons/d4-{{this}}.png" style="width: 35px"/>
    {{/each}}
  </div>
</div>